<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mission_everyday.mission.DAO.MissionDAO">

<select id="selectByCategoryId" resultType="com.mission_everyday.mission.Model.Mission">
	select
		id
		,categoryId
		,categoryName
		,missionName
		,missionIntroduction
		,missionImage
		,missionStartDate
		,missionFinishDate
		,missionPeriod
		,createdAt
		,updatedAt
	from `mission`
	where `categoryId` = #{categoryId};

</select>


<select id="selectCategoryNameOnly" resultType="com.mission_everyday.mission.Model.Mission">
	select
		categoryName
	from `mission`
		where `categoryId` = #{categoryId}
		limit 1;
</select>
</mapper>