<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mission_everyday.my.dao.MyDAO">

<select id="selectMyMissionListByUserId" resultType="com.mission_everyday.my.model.MyMission">
	SELECT
		categoryId
		,missionId
		,missionName
		,missionStartDate
		,missionFinishDate
		,missionPeriod
		,missionImage
		,userId
		,userName
		,createdAt
	FROM 
		`mission_user`
	WHERE 
		`userId` = #{userId};
</select>

<select id="selectMyMissionByUserIdAndMissionId" parameterType="map" resultType="com.mission_everyday.my.model.MyMission">
	SELECT
		categoryId
		,missionId
		,missionName
		,missionStartDate
		,missionFinishDate
		,missionPeriod
		,missionImage
		,userId
		,userName
		,createdAt
	FROM 
		`mission_user`
	WHERE 
		`userId` = #{userId}
		AND `missionId` = #{missionId};
</select>
		
</mapper>