<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mission_everyday.post.DAO.PostDAO">


<select id="selectPostList" resultType="com.mission_everyday.post.Model.Post">
	SELECT	
		`id`
		,`userId`
		,`userName`
		,`missionId`
		,`missionName`
		,`content`
		,`imgPath`
		,`createdAt`
		,`updatedAt`
	FROM 
		`post`
	WHERE
		`missionId` = #{missionId}
	ORDER BY `id` DESC
	LIMIT 5;
</select>


<select id="selectPostByPostId" resultType="com.mission_everyday.post.Model.Post">
	SELECT	
		`id`
		,`userId`
		,`userName`
		,`missionId`
		,`missionName`
		,`content`
		,`imgPath`
		,`createdAt`
		,`updatedAt`
	FROM 
		`post`
	WHERE
		`id` = #{id}
</select>
	
<insert id="insertPost" parameterType="map">

	INSERT INTO `post`
		(
			`userId`
			,`userName`
			,`missionId`
			,`missionName`
			,`missionStartDate`
			,`missionFinishDate`
			,`missionPeriod`			
			,`content`
			,`imgPath`
			,`createdAt`
			,`updatedAt`
			)
		VALUES
		(
			#{userId}
			,#{userName}
			,#{missionId}
			,#{missionName}
			,#{missionStartDate}
			,#{missionFinishDate}
			,#{missionPeriod}			
			,#{content}
			,#{imgPath}
			,now()
			,now()
		);

</insert>

<update id="updatePost" parameterType="map">
	
	UPDATE `post`
	SET
		content = #{content}
		, imgPath = #{imgPath}
		, updatedAt = now()
	WHERE 
		`id` = #{id};

</update>

<delete id="deletePost" parameterType="map">
	
	DELETE FROM `post`
	WHERE
		`id` = #{id}
		AND `userId` = #{userId}
	
</delete>


<select id="selectPostListByUserId" resultType="com.mission_everyday.post.Model.Post">
	SELECT	
		`id`
		,`userId`
		,`userName`
		,`missionId`
		,`missionName`
		,`content`
		,`imgPath`
		,`createdAt`
		,`updatedAt`
	FROM 
		`post`
	WHERE
		`userId` = #{userId}
	ORDER BY `id` DESC;		
</select>


</mapper>
