<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mission_everyday.post.DAO.PostDAO">

<insert id="insertPost" parameterType="map">

	INSERT INTO `post`
		(
			`userId`
			,`userName`
			,`missionId`
			,`missionName`
			,`content`
			,`imgPath`
			,`createdAt`
			,`updatedAt`
			)
		VALUES
		(
			#{userId}
			,#{userName}
			,#{missionId}
			,#{missionName}
			,#{content}
			,#{imgPath}
			,now()
			,now()
		);

</insert>

<update id="updatePost" parameterType="map">
	
	UPDATE `post`
	SET
		content = #{content}
		, imgPath = #{imgPath}
		, updatedAt = now()
	WHERE 
		`id` = #{id};

</update>

<delete id="deletePost" parameterType="map">
	
	DELETE FROM `post`
	WHERE
		`id` = #{id}
		AND `userId` = #{userId}
	
</delete>

</mapper>
